<div class="mt-4">
  <div class="d-flex justify-content-between">
    <h3>Deleted courses</h3>
    <a href="/me/stored/courses">My courses</a>
  </div>
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Course Name</th>
        <th scope="col">Level</th>
        <th scope="col" colspan="3">Deleted Time</th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
        <tr>
          <th scope="row">{{sum @index 1}}</th>
          <td>{{this.title}}</td>
          <td>Medium</td>
          <td>{{this.deletedAt}}</td>
          <td>
            <a
              href=""
              class="btn btn-success restore-course"
              data-bs-id={{this._id}}
            >Restore</a>
          </td>
          <td>
            <a
              href=""
              class="btn btn-danger"
              data-bs-toggle="modal"
              data-bs-target="#delete-course-modal"
              data-bs-id="{{this._id}}"
            >Delete</a>
          </td>
        </tr>
      {{else}}
        <tr>
          <td colspan="5" class="text-center">
            There are no deleted courses.
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{! Delete course modal }}
<div
  class="modal fade"
  id="delete-course-modal"
  tabindex="-1"
  aria-labelledby="deleteCourseLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteCourseLabel">Delete permanently</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Are you sure to delete this course permanently?
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
          id="delete-course"
        >Delete</button>
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >Close</button>
      </div>
    </div>
  </div>
</div>

<form name="restore-hidden-form" method="POST"></form>
<form name="delete-hidden-form" method="POST"></form>

<script src="/js/restore-course.js"></script>